
/* Header */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 83px;

    align-items: center;
    z-index: 1000;
    
    background: #04001A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    top: 0;
    width: 954px;
    height: 100%;

    div {
        position: relative;
        display: inline-block;
    
        align-items: center;
        color: white;
        font-weight: 1000;
    }
}

.header-logo, .header-student-data {
    position: relative;
    display: block;

    width: 25%;

    text-align: center;

}

.header-search-line {
    position: relative;
    display: block;

    width: 50%;

    text-align: center;
}

.search-line {
    position: relative;

    width: 50%;
    height: 40px;

    padding: 5px;

    text-align: center;

    font-weight: 800;

    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;

    transition: 0.5s;
}

.search-line {

    &:focus {
        box-shadow: none;
        width: 100%;
        transition: 0.5s;

        outline: none;
    }
    
}

.logo {
    position: relative;
    width: 80%;
}

a {
    color: rgba(255, 45, 45, 0.712);
    text-decoration: none;
}