
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-color: #73c7fb;
}

/* Header */
header {
    position: relative;
    top: 0;
    width: 100%;
    height: 83px;

    align-items: center;
    z-index: 1000;
    
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    top: 0;
    width: 900px;
    height: 100%;
}

nav div {
    position: relative;
    display: inline-block;

    align-items: center;
    color: white;
    font-weight: 1000;
}

.header-logo, .header-student-data {
    position: relative;
    display: block;

    width: 25%;

    text-align: center;

}

.header-search-line {
    position: relative;
    display: block;

    width: 50%;

    text-align: center;
}

.search-line {
    position: relative;

    width: 50%;
    height: 40px;

    padding: 5px;

    text-align: center;

    font-weight: 800;

    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;

    transition: 0.5s;
}

.search-line:focus {
    box-shadow: none;
    width: 100%;

    transition: 0.5s;
}

.logo {
    position: relative;
    width: 80%;
}

a {
    color: rgba(255, 45, 45, 0.712);
    text-decoration: none;
}




/* Main */

main {
    position: relative;
    display: block;

    margin: 0 auto;
    margin-top: 0;

    width: 900px;
    min-height: 50vh;
    height: fit-content;

    background: #F4EEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teacher-list {
    position: relative;
    display: block;

    list-style: none;

    align-items: center;
    margin: 0 auto;

    width: 812px;
    height: max-content;

}

.teacher-element {
    position: relative;
    display: flex;

    width: 100%;
    height: 41px;

    text-align: center;
    align-items: center;

    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: 0.5s;
}

.teacher-link {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    text-align: center;
    align-items: center;

    transition: 0.1s;
}

.teacher-link:hover span {
    transition: 0.1s;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.teacher-rate-block {
    position: relative;
    display: flex;

    width: 15%;
    height: 100%;

    align-items: center;
    justify-content: center;

    border-radius: 23px 0px 0px 23px;

    color: #fff;
}

.excelent {
    background: #006C4C;
}

.high {
    background: #00A876;
}

.medium {
    background: #DADE05;
}

.low {
    background: #FF4848;
}

.poor {
    background: #ff0101;
}

.teacher-name-block {
    position: relative;
    display: flex;

    width: 85%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background: #fff;
    border-radius: 0px 23px 23px 0px;

    color: #000;
}

* {
    box-sizing: border-box;
    font-weight: 700 !important;
    font-family: system-ui;
    font-family: sans-serif !important;
    user-select: none;
}

.teacher-block {
    position: relative;
    display: flex;

    flex-flow: column nowrap;

    padding: 100px 0 0 10px;
    margin-bottom: 20px;

    width: 100%;
}

.teacher-rewards {
    position: relative;
    display: block;

    width: 100%;

    color: gray;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.teacher-info {
    position: relative;
    display: block;

    width: 100%;
}

.teacher-block-name {
    position: relative;
    display: inline-block;

    min-width: fit-content;
    width: fit-content;
    max-width: 50%;

}

.teacher-name {
    position: relative;
    display: block;

    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
}

.teacher-legend {
    position: relative;
    display: block;

    color: #515151;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
}

.teacher-block-rate {
    position: relative;

    min-width: fit-content;
    width: fit-content;
    max-width: 50%;

    float: right;
}

.current-rate {
    position: relative;
    display: block;

    text-align: center;
    align-items: center;
    
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;

    width: 100%;

    padding: 10px 15px;
    float: right;

    background: #029F70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px 0px 0px 23px;
}

.user-rate {
    position: relative;
    display: block;

    color: #515151;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;

    align-items: center;
    text-align: center;
}

.title {
    position: relative;
    display: block;

    text-align: center;
    align-items: center;

    margin-top: 40px;

    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}

.rate-line-block {
    position: relative;
    display: block;

    width: calc(100% - 10px);

    margin: auto;

    align-items: center;

}

.student-count {
    position: relative;

    color: #515151;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
}

.rate-line {
    position: relative;
    display: flex;

    overflow: hidden;

    width: 100%;

    text-align: center;
    align-items: center;
}

.rate {
    position: relative;
    display: flex;

    flex-basis: 20%;
    flex-flow: row nowrap;
    flex-direction: column;

    height: 50px;

    transition: 1s ease;

    align-items: center;
    justify-content: center;
}

.number {
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}

.voted-user-count {
    position: absolute;
    opacity: 0;

    overflow: visible;

    bottom: 5%;

    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;

    z-index: 1000;

    transition: .5s all;
}

.rate:hover .voted-user-count {
    opacity: 1;

    transition: .5s all;
}

.invisible {
    display: none;
}

.select .rate:hover {
    cursor: pointer;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .2s;
}

.student-comment-line {
    position: relative;
    display: flex;
    text-decoration: none;

    z-index: 1000;

    width: 100%;
}

.selected {
    box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.selected span {
    animation: flip .5s forwards;
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

.comment-area {
    position: relative;

    width: 100%;
    min-width: 100%;

    height: fit-content;
    min-height: 100px;
    max-height: 50vh;

    border: none;

    padding: 10px;
}

.rate-button-block {
    position: relative;
    display: flex;

    text-align: center;
    align-items: center;

    width: 100%;
    height: fit-content;
}

.rate-button-block .btn {
    position: relative;
    display: flex;
    opacity: 0;

    z-index: 0;

    cursor: pointer;

    height: 50px;

    text-align: center;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 23px 23px;
}

.rate-button {
    display: flex;

    color: #FFFFFF;

    font-weight: 800;
    font-size: 20px;
}

.rate-button-block .active {
    opacity: 1;
}

.rate-button-block .btn:hover {
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    transition: .2s;
}


/* Comments block */

.comment-title {
    margin-top: 100px;
}

.student-comments-block {
    position: relative;
    display: flex;

    flex-flow: column wrap;
    margin: auto;

    width: 100%;
}

.student-comments-list {
    position: relative;
    display: block;

    width: calc(100% - 10px);

    margin: auto;

    list-style: none;
}

.comment-element {
    position: relative;

    width: 100%;
    min-height: fit-content;
    margin-bottom: 40px;
}

.comment-block {
    position: relative;
    display: flex;

    flex-flow: column wrap;

    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.comment-rate-info {
    position: relative;
    display: flex;

    flex-flow: row wrap;

    align-items: center;
    text-align: center;

    justify-content: space-between;


    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}

.student-id {
    position: relative;

    margin-left: 10px;
    width: fit-content;

    color: #000;
}

.comment-date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.student-rate-data {
    position: relative;
    display: flex;

    flex-flow: row wrap;

    justify-content: space-between;

    width: 60%;
    height: 40px;

    padding: 0 10px;

    align-items: center;
    text-align: center;

    border-radius: 23px 0px 0px 23px;
}


.comment-content {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;

    width: 100%;
    height: fit-content;
}

.unactive {
    color: #515151;
}

button {
    border: none;
}

.selected {
    font-size: 2;
}

@keyframes show-button{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.eveluate.entering {
    visibility: visible;
    animation: show-button .5s forwards;
}

.eveluate.entered {
    visibility: visible;
}

.eveluate.exiting {
    animation: show-button .5s reverse;
}

.eveluate.exited {
    visibility: hidden;
}

.short {
    max-height: 160px;
    overflow: hidden;
}

.expand-comment-btn {
    position: absolute;
    display: block;
    bottom: 0;

    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
}

.expand-comment-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}
